.feature-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media (min-width: 640px) {
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .feature-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.feature-item {
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: scale(1.1);
}

.button-text {
    height: 64px;
    width: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px;
}
