/* ProgressComponent.css */
.progress-container {
  position: relative;
}

.bg-prime {
  background-color: #6b5b95; /* Primary color */
}

.rounded-lg {
  border-radius: 0.5rem;
}

.transition-all {
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .desktop-progress {
    display: none;
  }
  .mobile-progress {
    display: block;
  }
}

@media (min-width: 769px) {
  .desktop-progress {
    display: block;
  }
  .mobile-progress {
    display: none;
  }
}

.button-container {
  position: relative;
}

.button-container:hover .button-text {
  opacity: 1;
  transform: translateX(0);
}

.button-text {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  left: 80px; /* Adjust position as needed */
  white-space: nowrap;
  text-align: left;
 
  padding: 2px 5px; /* Optional: padding for better appearance */
 
  z-index: 1;
}

