@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Assistant';
    src: url('/fonts/Assistant-Regular.woff2') format('woff2'),
        url('/fonts/Assistant-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/fonts/Assistant-Bold.woff2') format('woff2'),
        url('/fonts/Assistant-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/fonts/Assistant-ExtraBold.woff2') format('woff2'),
        url('/fonts/Assistant-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/fonts/Assistant-Light.woff2') format('woff2'),
        url('/fonts/Assistant-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/fonts/Assistant-Medium.woff2') format('woff2'),
        url('/fonts/Assistant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/fonts/Assistant-SemiBold.woff2') format('woff2'),
        url('/fonts/Assistant-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(84, 68, 132, 0.1); /* rgba for color with opacity */
  }
  
